<div>
    <!--<p >page contact {{contact.nom}} and {{contact.count}}</p>
    
    <input type="number" [(ngModel)]="contact.count" />
    <button (click)="onSub()">click here</button>-->
    <div class="bloc">
        <img src="./assets/images/{{contact.image}}" width=75 height="75">
        <div class="center">
            {{contact.nom}}
            <br />
            {{contact.phone}}
            <br />
            <!-- il y'avait modifier(), je mettrai matn showDetails pour naviguer  -->
            <button (click)="showDetails()">Modifier</button>
        </div>
    </div>
</div>